@keyframes identifier {
  from{
    opacity: 1;
    color: rgb(62, 87, 114);
  }
  40%{
    font-weight: 800;
  }
  to{
    opacity: 1;
    font-weight: 800;
    color: rgb(156, 14, 133);
  }
}

* {
 margin: 0;
 padding: 0;
 max-width: 1440px;
 font-family: Roboto, Arial;
}

.loading-animation{
  width: 100%;
  height: 100%;
  z-index: 2;
}

/*-------logo section-------*/


.logo-section{
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.logo{
  margin-left: 35%;
  width: 30%;
  padding-top: 20px;
}

/*---------restaurant explore------*/


.explore{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #eeeeee;
}

.location{
  display: flex;
  margin: 2% 0 0 0;
  justify-content: center;
  background: #d8d4d4;
  padding: 10px;
  box-shadow: 2px -2px 20px rgba(0, 0, 0, 0.19);
}

.fa-location-dot:before{
  margin-right: 25px;
}

.location p{
  color: rgb(96, 96, 96);
}

.explore h1{
  font-size: 40px;
  font-weight: 900;
  margin-top: 15px;
}

.explore p{
   margin-top: 1%;
   font-size: 18px;
   color: rgb(96, 96, 96);
}

.explore button{
    height: 45px;
    padding: 15px;
    border-radius: 35px;
    border: none;
    margin-top: 40px;
    margin-bottom: 5%;
    color: white;
    background-image:  linear-gradient(to left, rgb(123, 63, 165), violet)
}
.explore button:hover{
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.1);
}

/*--------buttons------*/


.restau-buttons{
  display: flex;
  flex-direction: column;
  margin-left: 8%;
  align-items: left;
}

.buttons-el{
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

.restau-buttons h4{
    margin-left: 0;
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 2%;
}

.restau-buttons .button-div{
    padding-top: 16px;
    padding-bottom: 11px;
    padding-right: 3px;
    margin-right: 40px;
    border-radius: 18px;
    width: 30%;
    border: none;
    font-size: 13px;
    font-weight: bold;
    background-color: white;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.15);
    display: flex;
}

.button-div:hover{
  cursor: pointer;
  background-color: rgba(201, 109, 192, 0.15);
  transition: 3s;
}

.button-div:hover .fa-store,
.button-div:hover .fa-mobile,
.button-div:hover .fa-list{
   color: #9356DC;
}

.nums{
  background-color: #9356DC;
  border-radius: 15PX;
  color: white;
  width: 20px;
  height: 20px;
  padding-left: 11px;
  padding-top: 6px;
  padding-bottom: 3px;
  margin-left: -10px;
  margin-top: -5px;
}

.fa-mobile,
.fa-list,
.fa-store{
  margin-right: 6%;
  margin-left: 4%;
}

/*--------restau menu-------*/


.menu-section{
  background-color: #F2F2F2;
  margin: 1% 0 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-attribute{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  width: 100%;
  color: black;
}

.row1,
.row2{
  display: flex;
  height: 280px;
  flex-direction: row;
  margin: 1% 6% 2% 6%;
  justify-content: space-between;
}

.menu-section h3{
  font-size: 21px;
  padding-top: 10px;
  margin-left: 6%;
  font-weight: bold;
}

.first-menu,
.second-menu{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 18px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.15);
  align-items: left;
}

.first-menu:hover,
.second-menu:hover{
  cursor: pointer;
}

.menu-attribute .first-menu{
  margin-left: 0;
  margin-right: 10%;
}

.menu-attribute .second-menu{
  margin-left: 8%;
}

.second-menu{
  margin-right: 0;
}

.img-div{
  height: 73%;
  width: 100%;
  margin-top: 0;
  position: relative;
}

.new-text{
  position: absolute;
  background-color: #99E2D0;
  padding: 1% 4% 1% 4%;
  border-radius: 5px;
  border: none;
  top: 4%;
  right: 4%;
 }


.menu-section img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.menu-section p{
  margin-top: 5px;
}

.menu-section h4{
  font-size: 19px;
}

.text-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 4% 2% 3%;
}

.love-icon{
  margin-top: 2%;
  margin-right: 2%;
}
.fa-heart:before{
  font-size: 25px;
}

.love-icon:hover .fa-regular{
  animation: identifier 1s forwards;
}

.love-icon:hover .fa-solid{
  display: contents;
}

.love-icon:hover{
  cursor: pointer;
}


/*------footer-------*/


.footer{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 0;
  background-color: rgb(45, 40, 40);
  padding-top: 50px;
  padding-bottom: 20px;
}

.footer a{
  margin-left: 15px;
  text-decoration: none;
  color: white;
}

.fa-handshake-simple:before{
  margin-left: 13px;
  fill: white;
}

.suggest-div,
.partner-div{
  display: flex;
}

.footer .heading-div{
  width: 150px;
  margin-left: 75px;
  margin-right: 3%;
}

.footer h1{
  font-weight: 900;
  color: white;
  margin-top: -9px;
}
.footer h1:hover{
  cursor: pointer;
}
.text-div{
  display: flex;
  flex-direction: row;
}
.heading-div{
  margin-top: 20px;
}

.my-info{
  background-color: rgb(45, 40, 40);
  margin: 0;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}
.my-info p{
  color: white;
}


/*--------tablet version----------*/

@media(max-width: 768px){
  .restau-buttons .button-div{
    font-size: 13px;
    margin-right: 25px;
  }
  .restau-buttons{
    margin-left: 5%;
  }
  .footer a{
    margin-left: 15px;
  }
  .footer .heading-div{
    margin-left: 45px;
  }
  .fa-handshake-simple:before,
  .fa-utensils:before{
    margin-left: 20px;
    margin-right: -9px
  }
  .nums{
    padding-left: 9px;
    padding-bottom: 4px;
    margin-left: -15px;
  }
  .fa-mobile, .fa-list, .fa-dumpster-fire{
    margin-right: 3%;
  }

  .new-text{
    top: 4%;
    right: 4%;
  }
}

/*----------mobile version------------*/
@media(max-width: 700px){
  .logo-section{
    margin: 6px 0 0 0;
  }
  .logo{
    margin-left: 30%;
    width: 40%;
  }
  .location{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }
  .fa-location-dot:before {
    margin-right: 15px;
  }
  .explore{
    margin: 0;
  }
  .explore h1{
    font-size: 18px;
  }
  .explore p{
    margin-left: 0;
    font-size: 12px;
    margin-top: 10%;
  }
  .restau-buttons h4{
    margin-top: 8%;
    margin-bottom: 5%;
  }
  .buttons-el{
    flex-direction: column;
  }
  .restau-buttons .button-div{
    margin: 4% 0 0 2%;
    width: 90%;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .menu-section{
    margin: 12% 0 0 0;
    padding-bottom: 10%;
  }
  .menu-section h3{
    margin: 6% 0 4% 4%;
  }
  .row1,
  .row2{
    flex-direction: column;
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
    margin-top: 0;
    margin-bottom: 0;
    height: 700px;
  }
  .row2{
    margin-top: 6%;
  }
  .menu-attribute{
    width: 100%;
    height: 48%;
  }
  .menu-attribute .first-menu{
    margin-right: 0;
    height: 100%;
  }
  .menu-attribute .second-menu{
    margin-left: 0;
  }
  .first-menu,
  .second-menu{
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
  }

  /*-----------footer ----*/

  .footer{
    flex-direction: column-reverse;
    padding-top: 5%;
    margin: 0;
  }
  .footer .text-div{
    flex-direction: column;
  }
  .footer .heading-div{
    margin-left: 15px;
  }
  .fa-handshake-simple:before, .fa-utensils:before{
    margin-left: 7px;
    margin-right: 13px;
  }
  .footer a{
    margin-left: 7px;
  }
  .my-info{
    margin: 0;
  }
}
